/* This section is slightly more complex. It defines the actual page properties */
/* Light Tan: #E8E8C6
/* Dark Tan:  #B8B789
/* Dark Grey: #666666
/* Sets up the background image */

body {background-color:#E8E8C6; 
/* This defines the colours that IE renders the side scrollbar in */
/* The actual front colour of the scrollbar */
scrollbar-face-color: #B8B789;scrollbar-shadow-color: #B8B789; scrollbar-highlight-color: #B8B789;
scrollbar-3dlight-color: #B8B789; scrollbar-darkshadow-color: #B8B789;scrollbar-track-color: #E8E8C6;
scrollbar-arrow-color: #E8E8C6; font-family: "Courier New", Courier, mono; margin-top: 0;
margin-left: 0; margin-right: 0; padding-top: 0; padding-left: 0; padding-right: 0;}
/* TD            { font-family: trebuchet, arial; color: red; font-size: 11px; } */

/* This section defines how form elements will look */
input         { background-color: #E8E8C6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;  }
textarea      { background-color: #E8E8C6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
select        { background-color: #E8E8C6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }

A:link {color: #666666; font-weight:bold}
A:visited {color: #B8B789}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: #E8E8C6; background:#B8B789}

/* Here are the various font styles used through-out the site */

.basic {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: square;

}
.NewsBody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;

}
.NewsDate {
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;

}
.MenuText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-align: left;
	list-style-position: outside;
	list-style-type: square;
	line-height: 200%;
	width: 100%;




}
.ContactLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	letter-spacing: 5px;
	width: 100%;

}
.SubTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	letter-spacing: 5px;
	width: 100%;
	font-weight: bold;

}
.quotes {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	letter-spacing: 5px;
	width: 100%;
	height: 100%;
	border: 2pt solid #CCCC99;
	vertical-align: bottom;


}
.BasicLinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
}.ReqList {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	list-style-position: outside;
	list-style-type: square;
	line-height: normal;
	width: 100%;
}
.MusingsSubtitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	letter-spacing: 5px;
	font-weight: bold;
}
